.md-layer-1-0-0 {
color: #18667d !important;
 font-size: 2.4166666666667em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-0-1 {
color: #a3a3a3 !important;
 font-size: 1.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-1-1 {
color: #18667d !important;
 font-size: 1.6666666666667em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-1-2 {
color: #878787 !important;
 font-size: 1.6666666666667em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-2-1 {
color: #18667d !important;
 font-size: 1.5em;
 font-weight: 300;
 font-family: Open Sans;
}